.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #000A21;
    color: white;

    &__h3 {
        font-size: 2rem;
        
    }

    &__section {
        display: none;

        &__ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            
            flex-wrap: wrap;
            


            

            &__li {
                
                font-size: 80%;
                list-style: none;
                padding: 0% 0.2rem;

            }
        }
    }
}