.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px white solid;
    color: white;
    background-color: #000A21;

    &__h1 {
       
        font-size: 2.2rem;
    }

    &__searcher {
        display: none;
        justify-content: center;
        align-items: center;
        

    }

    &__section {

        &__ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
           
            &__a {
                color: white;
                text-decoration: none;
            }
            

            &__li {
               
                margin: 0% 0;
                padding: 0 1rem;
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (min-width:767px) {
    .header {
        flex-direction: row;
        
        &__searcher {
            display: flex;
            height: 2.2rem;
            border: 0.5px white solid;
            border-radius: 15px;
            
            
            &__input {
                border-radius: 15px;
                font-family: Arial, Helvetica, sans-serif;
                height: 1.6rem;
                width: 12rem;
                background-color: #000A21;
                border: none;
                color: white;
                margin-left: 0.5rem;
            }
        }

        &__section {
        }
    }
    
}

