.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;

    
    background-color: yellowgreen;

    &__h1 {
        color: #0960BD;
        font-size: 2.2rem;
    }

    &__searcher {
        display: none;
        justify-content: center;
        align-items: center;


    }


    &__section__responsive {
        background-color: blue;
    }

    &__section {
        display: none;

        &__ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
           

            

            &__li {
                color: #429FFD;
                margin: 0% 0;
                padding: 0 1rem;
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (min-width:767px) {
    .header {

        &__searcher {
            display: flex;
        }

        &__section__responsive {
            display: none;
        }

        &__section {
            display: inline;
        }
    }
    
}

