.main {
    

    &__searcher {
        display: flex;
        justify-content: center;
        align-items: center;

       
    }

    &__article {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

            &__section {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 0.4rem;
                
                &__container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0.2rem 0.5rem;
                    width: 15rem;                
                    height: 6rem;
                    
                    &__titulo {
                        margin: 2px;
                        height: 2rem;
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        text-align: center;
                        font-size: 1.4rem;
                        font-family: 'Times New Roman', Times, serif;
                        
                        
                    }

                    &__descrip {
                        padding-top: 0.5rem;
                        text-align: start;
                        font-size: 0.9rem;
                        font-family: Arial, Helvetica, sans-serif;
                        
                    }
                    

                    &__div {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: flex-end;
                        
                        height: 100%;
                        width: 100%;
                        
                        
                        &__link {
                            color: black;
                            text-decoration: none;
                            padding: 5px;
                            border: 1px white solid;
                            font-size: 0.8rem;
                            font-family: sans-serif;
                            background-color: rgba(0, 0, 0, 0.200);
                           
                        }

                    }                    
                }

                &__img {

                    &__portada {
                    width: 80%;
                    height: 20rem;
                    }

                    

                }
            }
    }


    &__aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0.4rem;
        

        p {
            padding: 0.5rem;
            text-decoration: underline;
        }

        &__img {
            width: 24%;
            height: auto;
        }


    }
}

@media screen and (min-width:767px) {
    .main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        background-color: #001B54;
        color: white;

        &__searcher {
            display: none;
        }

        &__article {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;

            &__section {
                margin-top: 0%;
                padding-top: 1rem;
                padding-bottom: 1rem;
                width: 16rem;

                &__container {
                    background: linear-gradient(#000f2ed6, #000f2e80);
                    border-radius: 4px;
                    box-shadow: 0px 0px 15px 2px black;
                    width: 15rem;     
                    height: 23rem;
                    margin-top: -23.5rem;
                    opacity: 0; 
                    transition: opacity 0.5s;

                    &__div {
                        padding-bottom: 0.2rem;
                        
                        &__link {
                            border-radius: 3px;
                            color: white;
                            font-size: 1rem;
                        }
                    }

                    &__div--individual {
                        padding-top: 3rem;
                        padding-bottom: 5rem;
                        height: 45%;
                        display: flex;
                        justify-content: space-around;
                        align-items: flex-end;
                        
                    }
                }
                &__container:hover {
                    opacity: 1;
                    transition: opacity 1s ;
                    box-shadow: 0px 0px 12px 10px black;
                   
                }

                &__container--individual {
                    border-radius: 1rem;
                    padding: 1rem;
                    width: 40%;
                    height: 30rem;
                    background-color: #0033a2c4;
                }

            
                &__img {

                    &__portada {
                    width: 16rem;
                    height: 24rem;
                    box-shadow: 0px 0px 10px 5px black;
                    border-radius: 10px;
                    border: white 1px solid;                    
                    }

                    &__portada--individual {
                        height: 32rem;
                        width: auto;
                        box-shadow: 0px 0px 10px 5px black;
                        border-radius: 10px;
                        border: white 1px solid; 
                    }
                }
            }   
            
            &__section--individual {          
                padding-top: 2rem;      
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                
            }
        }

        &__aside {
            padding: 2px;
            margin-top: 0%;
            max-width: 20%;
            background-color: #000F2E;

            &__img {
                width: 49%;
                height: 12rem;
                padding: 1px;
                box-shadow: 0px 5px 5px black;
            }
        }
    
    }

}

