.main {
    background-color: #001B54;
    color: white;

    &__section {
        margin: 0.5rem 0;

        &__ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            list-style: none;

            &__li {
                border: 1px white solid;
                padding: 2px 3px;
                margin: 0.4rem;

                &__a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    &__article {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

            &__section {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 0.8rem;
                
                &__container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end;
                    padding: 0.2rem 0.5rem;
                    width: 17rem;            
                    height: 6rem;
                    background-color: #00133a;
                    border: 1px white solid;
                    border-top: 0;
                    border-radius: 10px;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;

                    
                    &__titulo {
                        height: 2.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        font-size: 1.4rem;
                        font-family: 'Times New Roman', Times, serif;
                        
                        
                    }

                    &__descrip {
                        padding-top: 1rem;
                        text-align: start;
                        font-size: 0.9rem;
                        font-family: Arial, Helvetica, sans-serif;
                        display: none;
                        
                    }
                    

                    &__div {
                        display: flex;
                        justify-content: space-around;
                        align-items: flex-end;
                        height: 50%;                        
                        
                        &__link {
                            color: white;
                            text-decoration: none;
                            padding: 5px;
                            border: 1px white solid;
                            font-size: 0.8rem;
                            font-family: sans-serif;
                            border-radius: 3px;
                            font-size: 0.9rem;
                            background-color: #000F2E;
                            display: flex;
                            align-items: center;
                            margin: 0.5rem;
                            margin-bottom: 0.2rem;
                        }
                    }                    
                }

                &__img {

                    &__portada {
                    width: 17rem;
                    height: 21rem;
                    box-shadow: 0px 0px 10px 5px black;
                    border-radius: 10px;
                    border: white 1px solid; 
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    border-bottom: 0;
                    }

                    

                }
            }
    }


    &__aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0.4rem;
        

        p {
            padding: 0.5rem;
            text-decoration: underline;
        }

        &__img {
            width: 24%;
            height: 9rem;
        }


    }
}

@media screen and (min-width:767px) {
    .main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        &__section {
            display: none;
        }

        &__searcher {
            display: none;
        }

        &__article {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;

            &__section {
                margin-top: 0%;
                padding-top: 1rem;
                padding-bottom: 1rem;
                width: 16rem;

                &__container {
                    background: linear-gradient(#000f2eeb, #000f2eb4);
                    box-shadow: 0px 0px 15px 2px black;
                    width: 15rem;     
                    height: 23rem;
                    margin-top: -20.5rem;
                    opacity: 0; 
                    transition: opacity 0.5s;
                    border-radius: 10px;
                    border: 0;

                    &__descrip {
                        display: block;
                    }

                    &__div {
                        padding-bottom: 0.2rem;
                        
                        &__link {
                            margin: 0 0.2rem;
                        }
                    }

                    &__div--individual {
                        padding-top: 3rem;
                        padding-bottom: 5rem;
                        height: 45%;
                        display: flex;
                        justify-content: space-around;
                        align-items: flex-end;
                        
                    }
                }
                &__container:hover {
                    opacity: 1;
                    transition: opacity 1s ;
                    box-shadow: 0px 0px 12px 10px black;
                   
                }

                &__container--individual {
                    border-radius: 10px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    padding: 1rem;
                    width: 40%;
                    height: 32rem;
                    background-color: #0033a2c4;
                    border: white 1px solid; 
                }

            
                &__img {

                    &__portada {
                    width: 16rem;
                    height: 24rem;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    border: 1px white solid;
                    }

                    &__portada--individual {
                        height: 32rem;
                        width: 21rem;
                        box-shadow: 0px 0px 10px 5px black;
                        border-radius: 10px;
                        border-end-end-radius: 0;
                        border-top-right-radius: 0;
                        border: white 1px solid; 
                    }
                }
            }   
            
            &__section--individual {          
                padding-top: 2rem;      
                display: flex;
                flex-direction: row;
                justify-content: center;
                
                
            }

            &__verahora {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 3rem;
                text-align: center;
                margin-bottom: 2rem;
                
                background-color: #000000c4;

               &__container {
                background-color: #000f2e;
                padding: 1rem 3rem;

                    &__txt {
                        font-size: 2rem;
                        font-family: serif;
                        margin-bottom: 10px;

                    }
               }
            }

        }

        &__aside {
            padding: 2px;
            margin-top: 0%;
            max-width: 20%;
            background-color: #000F2E;

            &__img {
                width: 49%;
                height: 12rem;
                padding: 1px;
                box-shadow: 0px 5px 5px black;
            }
        }
    
    }

}

